<div class="container-fluid">
  <h3>Welcome to Rails Overflow!</h3>
  <p>Register below:</p>
  <%= form_for @user, url: {action:"create"} do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-warning" role="alert-link">
        <h4>
          <%=pluralize(@user.errors.count, "error") %> prohibited you from signing up:
        </h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg  %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <label for="exampleInputEmail1">Username:</label>
        <%= f.text_field :username  %>
      <small id="emailHelp" class="form-text text-muted">Choose something baller that you'll remember.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email:</label>
        <%= f.text_field :email  %>
      <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Password:</label>
        <%= f.password_field :password %>
      <small id="passwordHelp" class="form-text text-muted">This password will be secure... but make sure you remember it!</small>
    </div>

    <p>
      <!-- want to learn how to change this button with bootstrap -->
      <%= f.submit "Boom!" %>
    </p>

  <% end %>

</div>
